* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fef7f1;
    color: #4a4a4a;
}

header {
    background-color: #f4ecd8;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo h1 {
    font-size: 28px;
    color: #5a5a5a;
    font-family: 'Arial', sans-serif;
}

.search-bar {
    flex-grow: 1;
    margin: 0 40px;
    position: relative;
    display: flex;
}

.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    background-color: #d09a56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.search-button:hover {
    background-color: #b87c42;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6e6e6e;
    font-weight: bold;
    font-size: 16px;
}

nav ul li .icon {
    width: 24px;
    height: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    background-color: #faf1e6;
    position: relative;
    min-height: 400px;
}

.hero-text {
    max-width: 600px;
    margin-right: 80px;
    margin-left: 40px;
    z-index: 2;
}

.hero h2 {
    font-size: 40px;
    color: #d09a56;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.6;
}

.hero button {
    padding: 15px 30px;
    background-color: #d09a56;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 600px;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.categories {
    position: relative;
    padding: 20px 0;
    background-color: #f9f2e3;
}

.category-container {
    position: relative;
    display: flex;
    justify-content: center; /* Вирівнювання по центру */
    align-items: center;
    width: 100%;
    padding: 0; /* Видалення бокових відступів */
    box-sizing: border-box;
}

.category-wrapper {
    display: flex;
    justify-content: center; /* Вирівнюємо категорії по центру */
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
}
.category {
    flex: 0 0 22%; /* Set to 22% to allow for four categories with margin */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    margin: 10px; /* Margin between categories */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    transition: transform 0.3s ease;
    min-height: 110px;
}

.category img {
    max-height: 95px;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.category:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.category h4 {
    font-size: 20px;
    margin: 0;
}

.category p {
    font-size: 16px;
    color: #a3a3a3;
    margin-top: 5px;
}

.scroll-button {
    background-color: transparent;
    color: #7a5b3b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-scroll {
    left: 10px;
}

.right-scroll {
    right: 10px;
}

.scroll-button:hover {
    background-color: #d09a56;
    color: white;
}

.bottom-image {
    display: block;
    margin: 20px auto 0;
    width: 80%;
    height: auto;
}

.propositions {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f2e3;
}

.propositions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.propositions h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.propositions p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.product {
    display: flex;
    align-items: stretch;
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    position: relative;
}

.product-image {
    height: 200px;
    width: auto;
    margin-right: 20px;
}

.product-info {
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h4 {
    font-size: 18px;
    margin: 5px 0;
}

.product-info .category {
    font-size: 16px;
    color: #a3a3a3;
}

.product-info .in-stock {
    font-size: 14px;
    color: green;
    margin: 5px 0;
}

.product-info .price {
    font-size: 20px;
    color: #d09a56;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #d09a56;
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4ecd8;
    color: #6e6e6e;
    font-size: 14px;
}

/* Для мобільних пристроїв (до 768px ширини) */
@media only screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .hero {
        flex-direction: column;
        padding: 20px;
    }

    .hero-text {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }

    .hero-image {
        position: static;
        max-width: 100%;
        margin-top: 20px;
    }

    .category-container {        
        align-items: center;
        padding: 0;
    }

    .category {
        min-width: 200px;
        width: 90%;
        margin: 0;
        padding: auto;
    }

    .category img {
        max-height: 60px;
        width: auto;
    }

    .scroll-button {
        display: block;
    }

    .product-container {
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 90%;
        margin: 10px 0;
    }
}

/* Для планшетів (від 768px до 1024px ширини) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        padding: 40px;
    }

    .hero-text {
        max-width: 80%;
    }

    .category-container {
        padding: 0 20px;
    }

    .category {
        margin: 10px 5px;
        flex: 1 1 calc(33.33% - 10px); /* Відображаємо 3 категорії */
    }

    .product-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .product {
        width: 45%;
    }
}
