<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SipCraft - Про нас</title>
  <link rel="stylesheet" href="/static/stylesAboutUs.css">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><h1>SipCraft</h1></a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Пошук...">
                <button class="search-button">Search</button>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/categories">Магазин</a></li>
                    <li><a href="/about" class="select">Про нас</a></li>
                    <li><a href="#"><img src="/static/picture/header/liked.png" alt="Cart" class="icon"></a></li>
                    <li><a href="/login"><img src="/static/picture/header/user.png" alt="User" class="icon"></a></li>
                    <li><a href="/cart"><img src="/static/picture/header/basket.png" alt="User" class="icon"></a></li>
                </ul>
            </nav>
        </div>
    </header>

  <main>
    <section class="about-us">
      <div class="image-container">
        <img src="/static/picture/about us/Picture6.png" alt="Main Image">
      </div>

      <div class="history">
        <hr>
        <h2>Наша історія</h2>
        <hr>
        <p>Магазин SipCraft був заснований із простої ідеї надати клієнтам доступ до найкращих алкогольних напоїв з усього світу. Ми почали з пошуку унікальних та витриманих напоїв, які поєднують у собі традиції майстерності і високу якість. Кожен продукт у нашому асортименті пройшов ретельний відбір, щоб відобразити культуру, історію та багатий смак свого походження.</p>
      </div>
    </section>

    <section class="name-origin">
        
        <h2>Походження назви</h2>
        
        <p>Назва "SipCraft" ідеально передає філософію нашого магазину, поєднуючи два важливі аспекти світу алкоголю:</p>
      
        <div class="name-meaning">
          <div class="sip">
            <h3>Sip</h3>
            <p>"Sip" символізує насолоду кожним ковтком, відображаючи приємний, неквапливий процес дегустації. Це слово натякає, що алкогольні напої варто смакувати, розкриваючи всі їхні аромати та відтінки смаку що підкреслює нашу увагу до якості.</p>
          </div>
      
          <div class="divider"></div>
      
          <div class="craft">
            <h3>Craft</h3>
            <p>"Craft" підкреслює мистецтво та майстерність у створенні напоїв. Це слово також асоціюється з крафтовими напоями, виготовленими з особливою увагою та індивідуальним підходом до виробництва, що робить їх особливими.</p>
          </div>
        </div>
      </section>
      
  </main>

</body>
</html>
