<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід на сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesLogIn.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><h1>SipCraft</h1></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/categories">Магазин</a></li>
                    <li><a href="/about">Про нас</a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='images/liked.png') }}" alt="Cart" class="icon"></a></li>
                    <li><a href="/login"><img src="{{ url_for('static', filename='images/user.png') }}" alt="User" class="icon"></a></li>
                    <li><a href="/cart"><img src="{{ url_for('static', filename='images/basket.png') }}" alt="Basket" class="icon"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <section class="login-section">
            <div class="login-text">
                <h2>Ласкаво просимо!</h2>
                <h3>Увійдіть у свій обліковий запис</h3>
                <p>Будь ласка, введіть свої дані для входу.</p>

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class="flash-messages">
                      {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}

                <form action="{{ url_for('login') }}" method="post" class="login-form">
                    <input type="text" name="username" placeholder="Ім'я користувача" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <button type="submit" class="login-btn">Увійти</button>
                </form>
                <p>Ще немає облікового запису? <a href="/signup" class="register-link">Зареєструватися</a></p>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <p>&copy; 2024 Назва Сайту. Усі права захищені.</p>
    </footer>
</body>
</html>
