<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація на сайті</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesSingUp.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><h1>SipCraft</h1></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/categories">Магазин</a></li>
                    <li><a href="/about">Про нас</a></li>
                    <li><a href="#"><img src="/static/picture/header/liked.png" alt="Cart" class="icon"></a></li>
                    <li><a href="/login"><img src="/static/picture/header/user.png" alt="User" class="icon"></a></li>
                    <li><a href="/cart"><img src="/static/picture/header/basket.png" alt="User" class="icon"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <section class="singup-section">
            <div class="singup-text">
                <h2>Ласкаво просимо!</h2>
                <h3>Реєстрація нового облікового запису</h3>
                <p>Щоб створити новий обліковий запис, заповніть форму нижче:</p>

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class="flash-messages">
                      {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}


                <form action="/signup" method="post" style="display: flex; flex-direction: column; max-width: 400px;">
                    <input type="text" name="new_username" placeholder="Логін користувача" required>
                    <input type="text" name="new_first_name" placeholder="Ім'я користувача" required>
                    <input type="text" name="new_second_name" placeholder="Прізвище користувача" required>
                    <input type="text" name="new_phone_number" placeholder="Номер телефону" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="new_password" placeholder="Пароль" required>
                    <input type="password" name="confirm_password" placeholder="Підтвердіть пароль" required>
                    <button type="submit" class="search-button">Зареєструватися</button>
                </form>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <p>&copy; 2024 Назва Сайту. Усі права захищені.</p>
    </footer>

</body>
</html>
